

    {{#with myData.Aboutme}}
   <div class="">
    <div class="login">
        <div class="login-l">
            <img src="..\pic\3.jpg" alt="" srcset="">
            <!-- <img src="..\pic\.jpg" alt="" srcset=""> -->
            <div class="h1">Click to
                <div class="h11">
                    Personal Information</div>
            </div>
        </div>
        <div class="login-r">
            <center>
                <div class="tsp">
                    <h2><b>P</b>ersonal <b>I</b>nformation </h2>
                </div>
            </center>
            <div class="left">

                <p><b>NAME ::</b> {{FullName}} </p>

                <p><b>NICKNAME ::</b> {{Nickname}} </p>

                <p><b>OLD :: </b> {{Old}}</p>

                <p><b>PHONE :: </b> {{Phone}} </p>

                <p><b>EMAIL :: </b> {{Email}} </p>
                <br>
            
            </div>
        </div>
    </div>
</div>
    {{/with}}
<script>let openLoginRight = document.querySelector('.h1');
    let login = document.querySelector('.login');

    openLoginRight.addEventListener('click', function () {
        login.classList.toggle('open');
    })</script>
    

